<% if(typeof errors!= 'undefined') { %>
<%    errors.forEach(function(error){ %>
        <p> <%= error.msg %></p>
<%    })        %>
<% } %>

<% if(success_msg!= '') { %>
<p><%=success_msg %> </p>
      <% } %> 
      