<h1> Login </h1>
<%- include ('./partials/messages') %>
<form action="/users/login" method="POST">
<div>
<label for="email">Email</label>
<input
type="email"
name="email"
placeholder="Enter Email"
/>
</div>
<div>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Enter Password"
    />
  
</div>
<button type="submit" class="btn btn-primary btn-block">Login</button>
   
</form>